[submodule "Graphite/vendor/spdlog"]
	path = Graphite/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Graphite/vendor/GLFW"]
	path = Graphite/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Graphite/vendor/glm"]
	path = Graphite/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Graphite/vendor/imgui"]
	path = Graphite/vendor/imgui
	url = https://github.com/TheCherno/Hazel/imgui
